<div style='width: 800px;'>
  <div id="guess" style='top: 60px; left: 365px; position: relative;'>
    <input onclick="submitGuess();" type=button value="Submit Guess!">
  </div>
  <div id="map-canvas" style='top: 70px; width: 800px; height: 400px;'></div>
</div>
<div style='width: 800px;'>
  <div id="pano" style="top: 20px; width: 800px; height: 400px;"></div>
</div>
