<div id="map_buddy">
  <div id="guess">
  <%= form_for Score.new do |f| %>
    <%= f.hidden_field :coord1, :value => 0 %>
    <%= f.hidden_field :coord2, :value => 0 %>
    <%= f.submit "Make Guess", class: "btn btn-primary" %>
  <% end %>
</div>
  <div id="map-canvas"></div>
  <div id="pano"></div>
</div>

