<div style='width: 800px;'>
  <div id="map-canvas" style='top: 60px; width: 800px; height: 400px;'></div>
</div>
<div style='width: 800px;'>
  <div id="pano" style="top: 20px; width: 800px; height: 400px;"></div>
</div>
