#map-canvas {
  float: right;
  width: 400px;
  height: 200px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3;
}

#guess {
  position: absolute;
  right: 10px;
  top: 8px;
  float: right;
  z-index: 4;
}

#guessMap {
  position: absolute;
  float: top;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 600px;
  z-index: 1;
}

#guessScore {
  position: absolute;
  right: 10px;
  top: 8px;
  float: right;
  width: 220px;
  height: 150px;
  background-color: moccasin;
  border-radius: 5px;
  z-index: 1;
  padding: 5px;
}

#pano {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 600px;
  z-index: 2;
}

#pano text{
  display: none;
}

#map_buddy {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
}

.headline {
  margin-top: 60px;
  padding-left: 20px;
}

.form_buddy {
  padding-left: 20px;
}
