#map-canvas {
  height: 100%;
  cursor: pointer;
  display: block;
  float: right;
  z-index: 3;
  position: absolute;
  right: 5px;
  top: 5px;
}

#container {
  width: 800px;
}

.headline {
  margin-top: 60px;
  padding-left: 20px;
}

.form_buddy {
  padding-left: 20px;
}

