#map-canvas {
  float: right;
  width: 400px;
  height: 200px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3;
}

#pano {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 600px;
  z-index: 1;
}

#pano text {
  display: none;
}

#map_buddy {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 50%;
}

.headline {
  margin-top: 60px;
  padding-left: 20px;
}

.form_buddy {
  padding-left: 20px;
}

